<div class="row">
    <div class="col-lg-6">
        <h2 style="margin:0px;">Create Service</h2>
    </div>
    <div class="col-lg-6">
        <a href="#/service">
            <button type="button" class="btn btn-default btn-icon icon-left pull-right">Back<i class="entypo-left-circled"></i> </button>
        </a>
    </div>
</div>
<hr>

<form role="form" name="ServiceForm" class="form-horizontal form-groups-bordered">
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Service Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Service Name" ng-model="service_name" name="servicename" required>
                    <span class="validate-has-error" ng-show="ServiceForm.servicename.$error.required && ServiceForm.servicename.$dirty">Required Service Name</span>
                </div>
            </div>
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Upload Service Videos</label>
                <div class="col-sm-8">
                    <input type="button" class="btn btn-success" id="upload_widget_opener" value="Upload Service Videos" style="width: 100%;height: 35px;font-size: 14px;" />
                    <h4 class="showvideo">Uploaded <span id="videonumber"></span> videos</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Service Details</label>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" placeholder="Service Details" ng-model="service_details" name="servicedetails" required>
                    </textarea>
                    <span class="validate-has-error" ng-show="ServiceForm.servicedetails.$error.required && ServiceForm.servicedetails.$dirty">Required Service Details</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="!ServiceForm.$valid" class="btn btn-primary pull-right" ng-click="AddService()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
