<div class="row">
    <div class="col-lg-6">
        <h2 style="margin:0px;">Create Membership</h2>
    </div>
    <div class="col-lg-6">
        <a href="#/membership">
            <button type="button" class="btn btn-default btn-icon icon-left pull-right">Back<i class="entypo-left-circled"></i> </button>
        </a>
    </div>
</div>
<hr>

<form role="form" name="MembershipForm" class="form-horizontal form-groups-bordered">
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Membership Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Membership Name" ng-model="membership.membership_name" name="membershipname" required>
                    <span class="validate-has-error" ng-show="MembershipForm.membershipname.$error.required && MembershipForm.membershipname.$dirty">Required Membership Name</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Membership Description</label>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" placeholder="Membership Description" ng-model="membership.membership_description" name="membershipdescription" required>
                    </textarea>
                    <span class="validate-has-error" ng-show="MembershipForm.membershipdescription.$error.required && MembershipForm.membershipdescription.$dirty">Required Membership Description</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="!MembershipForm.$valid" class="btn btn-primary pull-right" ng-click="AddMembership()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
