<div class="row">
    <div class="col-lg-6">
        <h2 style="margin:0px;">Create Plan</h2>
    </div>
    <div class="col-lg-6">
        <a href="#/plan">
            <button type="button" class="btn btn-default btn-icon icon-left pull-right">Back<i class="entypo-left-circled"></i> </button>
        </a>
    </div>
</div>
<hr>

<form role="form" name="PlanForm" class="form-horizontal form-groups-bordered">
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Plan Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Plan Name" ng-model="plan.plan_name" name="planname" required>
                    <span class="validate-has-error" ng-show="PlanForm.planname.$error.required && PlanForm.planname.$dirty">Required Plan Name</span>
                </div>
            </div>
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Plan Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Plan Price" ng-model="plan.plan_price" name="planprice" required>
                    <span class="validate-has-error" ng-show="PlanForm.planprice.$error.required && PlanForm.planprice.$dirty">Required Plan Price</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Plan Description</label>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" placeholder="Plan Description" ng-model="plan.plan_description" name="plandescription" required>
                    </textarea>
                    <span class="validate-has-error" ng-show="PlanForm.plandescription.$error.required && PlanForm.plandescription.$dirty">Required Plan Description</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="!PlanForm.$valid" class="btn btn-primary pull-right" ng-click="AddLevel()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
