<div class="row">
    <div class="col-lg-6">
        <h2 style="margin:0px;">Create Level</h2>
    </div>
    <div class="col-lg-6">
        <a href="#/level">
            <button type="button" class="btn btn-default btn-icon icon-left pull-right">Back<i class="entypo-left-circled"></i> </button>
        </a>
    </div>
</div>
<hr>

<form role="form" name="LevelForm" class="form-horizontal form-groups-bordered">
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="field-ta" class="col-sm-4 control-label">Level Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Level Name" ng-model="level.level_name" name="levelname" required>
                    <span class="validate-has-error" ng-show="LevelForm.levelname.$error.required && LevelForm.levelname.$dirty">Required Level Name</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Level Description</label>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" placeholder="Level Description" ng-model="level.level_description" name="leveldescription" required>
                    </textarea>
                    <span class="validate-has-error" ng-show="LevelForm.leveldescription.$error.required && LevelForm.leveldescription.$dirty">Required Level Description</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="!LevelForm.$valid" class="btn btn-primary pull-right" ng-click="AddLevel()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
