<div class="row">
	<div class="col-sm-4 col-xs-6">
		<a href="#/users">
			<div class="tile-stats tile-red">
				<div class="icon"><i class="entypo-users"></i></div>
				<div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0">{{ dashboardcount.total_users_count }}</div>

				<h3>Registered users</h3>
				<!-- <p>so far in our blog, and our website.</p> -->
			</div>
		</a>
	</div>

	<div class="col-sm-4 col-xs-6">
		<a href="#/service">
		<div class="tile-stats tile-green">
			<div class="icon"><i class="entypo-chart-bar"></i></div>
			<div class="num" data-start="0" data-end="135" data-postfix="" data-duration="1500" data-delay="600">{{ dashboardcount.video_service_count }}</div>

			<h3>Videos</h3>
			<!-- <p>this is the average value.</p> -->
		</div>
	    </a>
	</div>
	
	<div class="clear visible-xs"></div>

	<div class="col-sm-4 col-xs-6">

		<div class="tile-stats tile-aqua">
			<div class="icon"><i class="entypo-mail"></i></div>
			<div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200">{{ dashboardcount.basic_membership_members }}</div>

			<h3>Basic Plan</h3>
			<!-- <p>messages per day.</p> -->
		</div>

	</div>

	<div class="col-sm-4 col-xs-6">

		<div class="tile-stats tile-blue">
			<div class="icon"><i class="entypo-rss"></i></div>
			<div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">{{ dashboardcount.intermediate_level_users }}</div>

			<h3>Intermediate</h3>
			<!-- <p>on our site right now.</p> -->
		</div>

	</div>
	<div class="col-sm-4 col-xs-6">

		<div class="tile-stats tile-blue">
			<div class="icon"><i class="entypo-rss"></i></div>
			<div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">{{ dashboardcount.advanced_level_users }}</div>

			<h3>Advance</h3>
			<!-- <p>on our site right now.</p> -->
		</div>

	</div>
	<div class="col-sm-4 col-xs-6">
		<a href="#/service">
		<div class="tile-stats tile-blue">
			<div class="icon"><i class="entypo-rss"></i></div>
			<div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">{{ dashboardcount.all_services_count }}</div>

			<h3>Service</h3>
			<!-- <p>on our site right now.</p> -->
		</div>
		</a>
	</div>
</div>
<!-- login  -->
<script type="text/javascript">
	$('.page-body .page-main').addClass("page-container");
</script>