<div class="row">
	<div class="col-lg-6">
		<h2 style="margin:0px;">{{ service.service_name }}</h2>
	</div>
	<div class="col-lg-6">
		<a href="#/service">
			<button type="button" class="btn btn-default btn-icon icon-left pull-right">Back<i class="entypo-left-circled"></i> </button>
		</a>
	</div>
</div>
<hr>
<table class="table table-bordered" style="font-size: 14px;"> 
	 <tbody> 
		<tr> 
			<td class="font-bold">Service Details</td> 
			<td>{{ service.service_details }}</td> 
		</tr>
		<tr> 
			<td class="font-bold">Created At</td> 
			<td>{{ service.created_at | date:'medium' }}</td> 
		</tr>
	 </tbody> 
 </table>
 <div class="row">
 	<div class="col-lg-6" ng-repeat="servicevideo in service.service_videos track by $index">
		<video style="width: 100%;height: 300px;" controls ng-src="{{servicevideo.video_url | trustUrl}}" controlsList="nodownload">
  		</video>
 	</div>
 </div>