<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<h2 style="margin:0px;">Levels</h2>
	</div>
	<div class="col-lg-8">
		<a href="#/create_level"><input type="button" name="" class="btn btn-primary pull-right" value="Create Level"></a>
	</div>
</div>
<hr>
<table class="table table-bordered datatable" id="table">
	<thead>
		<tr>
			<th>Level Name</th>
			<th>Level Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="level in levels">
			<td>{{ level.level_name }}</td>
			<td>{{ level.level_description }}</td>
			<td>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeleteLevel(level)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
