<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<h2 style="margin:0px;">Memberships</h2>
	</div>
	<div class="col-lg-8">
		<a href="#/create_membership"><input type="button" name="" class="btn btn-primary pull-right" value="Create Membership"></a>
	</div>
</div>
<hr>
<table class="table table-bordered datatable" id="table">
	<thead>
		<tr>
			<th>Membership Name</th>
			<th>Membership Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="membership in memberships">
			<td>{{ membership.membership_name }}</td>
			<td>{{ membership.membership_description }}</td>
			<td>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeleteMembership(membership)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
