<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<h2 style="margin:0px;">Plans</h2>
	</div>
	<div class="col-lg-8">
		<a href="#/create_plan"><input type="button" name="" class="btn btn-primary pull-right" value="Create Plan"></a>
	</div>
</div>
<hr>
<table class="table table-bordered datatable" id="table">
	<thead>
		<tr>
			<th>Plan Name</th>
			<th>Plan Description</th>
			<th>Plan Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="plan in plans">
			<td>{{ plan.plan_name }}</td>
			<td>{{ plan.plan_description }}</td>
			<td>{{ plan.plan_price }}</td>
			<td>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeletePlan(plan)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
