<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<h2 style="margin:0px;">Services</h2>
	</div>
	<div class="col-lg-8">
		<a href="#/create_service"><input type="button" name="" class="btn btn-primary pull-right" value="Create Service"></a>
	</div>
</div>
<hr>
<table class="table table-bordered datatable" id="table">
	<thead>
		<tr>
			<th>Service Name</th>
			<th>Service Details</th>
			<th>Created At</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="service in services">
			<td>{{ service.service_name }}</td>
			<td>{{ service.service_details }}</td>
			<td>{{ service.created_at | date:'medium' }}</td>
			<td>
				<a href="" class="btn btn-default btn-sm btn-icon icon-left" ng-click="ViewService(service)">
					<i class="entypo-eye"></i>
					View
				</a>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeleteService(service)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
