<table class="table table-bordered datatable" id="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.user.first_name }}</td>
			<td>{{ user.user.last_name }}</td>
			<td>{{ user.user.email }}</td>
			<td>{{ user.mobile }}</td>
			<td>{{ user.address }}</td>
		</tr>
	</tbody>
</table>
